/*apply to whole site*/
body {
	margin: 0;
	padding: 0;
}

/*includes padding + border in ALL (*{}) elements' w + h*/
* {
	box-sizing: border-box; 
}

/*page formatting*/
	.column {
		top: 0;
		bottom: 0;
	}

	.left {
		width: 30%;
		position: fixed;
		float: left;
	}

	.right {
		width: 70%;
		float: right;
		overflow: auto;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}