/*text formatting*/
	/*alignment*/
	.format {
		margin:  0 auto;
		padding: 20px;
	}

	/*for linked text*/
	.link {
		color: #7d8994;
	}

	/*shifting text when shifting window size*/
	.t-shift {
		font-size: 4vw;
	}

	/*name + hi: pink: #f0b3ba*/
	h1 {
		color: #f0b3ba;
		font-size: 55px;
	}

	/*do + done + failed*/
	h2 {
		color: #a7c4cf;
		font-size: 30px;
	}

	/*project name*/
	h3 {
		color: #52838b;
		font-size: 20px;
	}

	/*small text*/
	p {
		color: #534D4A;
		font-size: 17px;
	}